.DetallePersona {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.container-puntos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.container-nombre {
  margin-bottom: 10px;
}

.id-content {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.img-circle {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.detalles {
  width: 100%;
}
